@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);

}

body {
    font-size: 1rem;
    background-color: var(--Very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    min-height: calc(100vh - 1px);


}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    color: var(--Very-light-gray);
}

p {
    color: var(--Transparent-white);
}

button {
    background-color: var(--Very-light-gray);
    position: relative;
    bottom: 5px;
    border: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container-1 {
    overflow: hidden;
    border-radius: 1rem;
    width: 850px;
}

.container-1 section:nth-of-type(1) {
    background-color: var(--Bright-orange);
}

.container-1 section:nth-of-type(2) {
    background-color: var(--Dark-cyan);
}

.container-1 section:nth-of-type(3) {
    background-color: var(--Very-dark-cyan);
}

/* Buttons */

.container-1 section:nth-of-type(1) button {
    color: var(--Bright-orange);
    border: 1px solid var(--Very-light-gray);  
}

.container-1 section:nth-of-type(2) button {
    color: var(--Dark-cyan);
    border: 1px solid var(--Very-light-gray);
}

.container-1 section:nth-of-type(3) button {
    color: var(--Very-dark-cyan);
    border: 1px solid var(--Very-light-gray);
}

.container-1 section button:hover {
    color: var(--Very-light-gray);
    border: 1px solid var(--Very-light-gray);
    background-color: transparent;
}

@media (max-width: 1000px) {
    .container-1 {
        width: 750px;
    }
}

@media (max-width: 767.98px) {
    .container-1 {
        width: 90%;
    }
}
