@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Smooch+Sans:wght@100&display=swap');


:root {
    --Whites: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    height: calc(100vh - 1px);
    background-color: var(--Light-gray) ;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--Dark-blue);
    
}

p {
    font-size: 15px;
    text-align: center;
    color: var(--Grayish-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.div1 {
    background-color: var(--Whites);
}

.div-rounder {
    border-radius: 5%;
}

@media (min-width: 500px) {
    
    .div1 {
        width: 350px;
    }
}
